@import "../../../scss/ux_variables";

.image-wrapper {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}

.image-cropper {
  width: 9.4em;
  height: 9.4em;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin: auto;
}

@include mobile {
  .image-cropper {
    width: 7.5em;
    height: 7.5em;
  }
}

@include tablet {
  .image-cropper {
    width: 7.5em;
    height: 7.5em;
  }
}

@include desktop {
  .image-cropper {
    width: 6.5em;
    height: 6.5em;
    margin-left: 0;
    margin-right: 0;

  }
}
