@import "../../../scss/ux_variables";

.popular-category-link {
  margin-bottom: 0.625rem;
  text-align: center;
}

.image-wrapper {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}

.image-cropper {
  margin: auto;
}

@include mobile {
  .image-cropper {
    width: 5.937rem;
    height: 5.937rem;
  }
}

@include tablet {
  .image-cropper {
    width: 6.125rem;
    height: 6.125rem;
  }
}

@include desktop {
  .image-cropper {
    width: 10rem;
    height: 10rem;
  }
}
