
strict-ssl=false
registry=https://registry.npmjs.org/
@types:registry=https://registry.npmjs.org/

@sfcc-dev:registry=http://localhost:4873/
//localhost:4873/:_authToken="Q2yuScqHNAxzfNWSWR4Yt8OR2M8PLym3234ANN3XY9k="

