@import "_ux_variables.scss";

// --------------------------------------------
// Styles
// --------------------------------------------
body {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: $base-font-size;
  color: $dark-gray;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica Neue, Dosis, sans-serif
}

// e.g. Main banner title
h1 { @include heading-1; }

// e.g. Campaign banner title
h2 { @include heading-2; }

// e.g. section title (center) , pdp product name/price (text-align:left)
h3 { @include heading-3; }

// e.g. navigation catalog, breadcrumb title
h4 { @include heading-4; }

// e.g Search section title
h5 { @include heading-5; }

// e.g. Product tiles product price small
h6 { @include heading-6; }

// Primary CTA
.call-to-action {
  @include primary-call-to-action;
}

// Paragraph Large (e.g. editorial text)
.large-paragraph {
  @include large-paragraph;
}

// Paragraph Normal
.normal-paragraph,
p {
  @include normal-paragraph;
}

// Paragraph Small  (e.g. navigation category)
.small-paragraph {
  @include small-paragraph;
}

// e.g. Links under image
.caption,
.normal-link {
  @include caption;
}

// e.g. Product Detail Size Chart
.small-link {
  @include small-link;
}

// e.g. Product Detail Size Chart
.large-link {
  @include large-link;
}

// e.g. Product detail origin price for sale product
.strikethrough,
.product-sale-strikethrough {
  @include strikethrough
}

// Gutter size
.grid-gutter {
  @include grid-gutter
}

/**
 * Miscellaneous UX Options
 */
.common-image-filter {
  filter: brightness(40%);
}

hr {
  color: $medium-gray;
  text-decoration: underline;
}

