# We have two registries we could use:
# Internal (private)
registry=https://nexus.soma.salesforce.com/nexus/content/groups/npm-all/

# Also grab @types NPMs from Nexus, SFCI cannot reach any public registry anyway
@types:registry=https://nexus.soma.salesforce.com/nexus/content/groups/npm-all/

@sfcc-dev:registry=https://registry.npmjs.org/

@lwc-platform:registry=https://npm.lwcjs.org/

# registery=https://registry.npmjs.org/

//registry.npmjs.org/:_authToken=f1557f75-416b-4e40-891c-8de68a3a1c83
