@mixin circle($diameter, $color) { // Source:  https://gist.github.com/kogakure/4769904
    border: 0.063em solid rgba(0, 0, 0, 0.3);
    width: $diameter;
    height: $diameter;
    background: $color;
    -moz-border-radius: $diameter/2;
    border-radius: $diameter/2;
}
