orbs:
  heroku: circleci/heroku@1.0.1 # Invoke the Heroku orb
  node: circleci/node@1.1

workflows:
  heroku_deploy:
    jobs:
      - build
      - heroku/deploy-via-git: # Use the pre-configured job, deploy-via-git
          requires:
            - build
jobs:
    build:
      working_directory: ~/build_only
      executor:
        name: node/default
        tag: '12.16'
      steps:
        - checkout
        - run: yarn install
        - run: yarn build
        - run: yarn test
        - store_test_results:
            path: ~/
version: 2.1
