
.line-item-attributes {
    padding-left: .3em;
}

.product-info {
  margin-bottom: .313em;
  padding: .625em
} 

.product-info {
    .remove-btn {
        font-size: 1.625em;
        padding: 0;
        position: absolute;
        right: 0.25rem;
        border: none;
    }
}

.help-phone-number {
    text-decoration: underline;
}