.jumbotron-fixed-height-wrapper {
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
    position: relative;
    display: block;
}

.jumbotron {
    font-size: 22px;
    line-height: 1.27;
    font-weight: 300;
    position: relative;
    height: 700px;
}

.jumbotron.harvey {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), var(--lwc-header-image);
    background-size: cover;
    background-position: top;
}

.jumbotron .text-align-center {
    margin: 0 0 18px;
}

.jumbotron .text-block {
    height: auto;
    position: absolute;
    bottom: 64px;
    padding: 0 20px;
    right: 0;
    left: 0;
    font-size: 22px;
    line-height: 1.182em;
    font-weight: 200;
    color: #fff;
}

.jumbotron .page-subtitle {
    line-height: 50px;
    font-size: 30px;
}

.jumbotron .color-subdued {
    color: #e8e8e8;
}

.jumbotron h1 {
    margin: 0 0 18px;
}

@media (min-width: 1023px) {
    .jumbotron h1 {
        font-size: 50px;
    }
}

@media (min-width: 1365px) {
    .jumbotron h1 {
        font-size: 60px;
    }
}

