@import "../../../scss/ux_variables";

.popular-categories {

  .popular-category-link {
    text-align: center;
  }

  a.popular-cat-link {
    color: #222;
    text-decoration: underline;
  }

  a.popular-cat-link {
    color: #222;
    text-decoration: underline;
  }

  .popular-category-link {
    text-align: center;
  }

  .image-wrapper {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
  }

  .popular-cat-heading h3 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  .image-wrapper span {
    height: 100%;
    width: 100%;
    display: block;
  }

  .image-cropper {
    width: 9.4em;
    height: 9.4em;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: auto;
  }


  @include mobile {
    .popular-category-label-a {
      font-size: 0.875em;
      padding-top: 0.3em;
    }

    .popular-categories .d-flex {
      margin-left: 0;
      margin-right: 0;
    }

    .image-cropper {
      width: 7.5em;
      height: 7.5em;
    }
  }

  @include tablet {
    .popular-category-label-a {
      font-size: 0.875em;
      padding-top: 0.5em;
    }

    .popular-categories .d-flex {
      margin-left: 0;
      margin-right: 0;
    }

    .image-cropper {
      width: 7.5em;
      height: 7.5em;
    }

  }

  @include desktop {
    .popular-category-label-a {
      font-size: 1em;
      padding-top: 0.5em;
    }

    .popular-categories .d-flex {
      margin-left: 1em;
      margin-right: 1em;
    }

    .image-cropper {
      width: 6.5em;
      height: 6.5em;
      margin-left: 0;
      margin-right: 0;

    }
  }
}
