@import "../../../scss/ux_variables";

.collapsible {
    .card {
        border: 0 none;
        border-top: 1px solid $light-gray;

        .card-header {
            border-bottom: 0 none;
            padding-top: 1.25em;
            padding-bottom: 1.25em;
            padding-left: 0.625em;

            @include mobile {
                padding-top: 0.625em;
                padding-bottom: 0.625em;
            }

            @include tablet {
                padding-top: 0.9375em;
                padding-bottom: 0.9375em;
            }
        }

        .card-body {
            padding-top: 0;
            padding-left: 1.25em;
        }
    }

    .title::after {
        float: right;
        content: "\f078";
        font-family: "FontAwesome";
        font-size: medium;
    }

    .title.active::after {
        content: "\f077";
        margin-top: -0.125em;
        font-size: medium;
    }
}
