@import "../../../scss/_ux_variables";

div {
  background-color: #ccc;
  margin: 10px;
}

.instructions,
.instructions p {
  color: #0070d2;
  @include bold;
}

.code {
  margin: 10px;
  background-color: white;
  border: 1px dashed #333;
}
