.shop-category-component {
    background-image:
            url("../../../public/assets/images/homepage/gray.jpg");
    position: relative;
}

.shop-category-header h3 {
    margin-top: 0.5em;
    margin-bottom: 0;
}

.shop-category-component .shop-category-header {
    margin-top: 0;
    margin-bottom: 0;
}

.shop-category-component .shop-category-label {
    margin-top: 0;
    margin-bottom: 0;
    text-decoration: underline;
}

.shop-category-component .shop-category-header .mw-100 {
    margin-top: 0;
    margin-bottom: 0;
}
