.header {
  line-height: 3em;
}

.searchbar {
  padding: 0 1em .5em 1em;
  margin-top: .5em;
}

.sign-in span {
  margin: 0 .2em;
}

.mobile-menu {
  line-height: 3em;
  button {
    margin: 0;
    padding: 0;
    .menu-icon {
      margin-right: .2em;
    }
  }
}

.logo img {
  line-height: 3em;
  height: 2.5em;
}

.mini-basket {
  line-height: 3em;
}
