@import "../../../scss/ux_variables";

.header {
  line-height: 3em;
}

.searchbar {
  padding: 0 1em .5em 1em;
  margin-top: .5em;
}

.sign-in span {
  margin: 0 .2em;
}

.mobile-menu {
  line-height: 3em;
  button {
    margin: 0;
    padding: 0;
    .menu-icon {
      margin-right: .2em;
    }
  }
}

.logo img {
  line-height: 3em;
  height: 2.5em;
}

.mini-basket {
  line-height: 3em;
}

.sub-header{
  height: 4.688em;
 
  @include mobile {
    height: 3.125em;
  }
}

.sub-header:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  border-top: 0.063em solid $light-gray;
  background: $light-gray;
  width: 100%;
  transform: translateY(-50%);
}

.sub-header-content {
  background-color: white;
  width: auto;
  max-width: 90%;
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: $dark-gray;
  font-weight: bold;
  white-space: nowrap;
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
  text-overflow: ellipsis;

  @include mobile {
    font-size: 1.313em;
  }

  @include tablet {
    font-size: 1.5em;
  }

  @include desktop {
    font-size: 1.688em;
  }
  
  span.search-text {
    display: none;
 
    @include tablet {
      display: inline;
    }
    @include desktop {
      display: inline;
    }
  }
}
