.slds-form-element__label {
    font-size: 20px;
}

@media (min-width: 30em) {
    .slds-form_stacked .slds-form-element, .slds-form_stacked .slds-form_compound {
        margin-top: 1.5rem;
    }
}

.slds-radio .slds-form-element__label {
    font-size: 15px;
}

.form-title {
    padding-bottom: 20px;
    border-bottom: solid #e7e7e7 1px;
    margin-bottom: 25px;
}

h4 {
    font-weight: 700;
    font-size: 25px;
}

.slds-button_brand {
    background-color: #7f8de1;
    border-color: #7f8de1;
}

