@import "../../../scss/ux_variables";
.fa-shopping-bag {
    margin-right: 0.625rem;
}

.descriptions {
    margin-top: 1.875rem;
}

.promotions {
    margin-bottom: 1rem;
}

button:disabled {
  opacity: 0.3;
}