@import "../../../scss/ux_variables";

.product-detail-page {
    margin-top: 2em;
    margin-bottom: 2em;

    @include mobile {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.fa-shopping-bag {
    margin-right: 0.625rem;
}

.descriptions {
    margin-top: 1.875rem;
}

.promotions {
    margin-bottom: 1rem;
}

button:disabled {
  opacity: 0.3;
}